<h1><%= @boat.name %> is <%= @status %></h1>
<p>Last Update At: <%= @last_update %></p>
<p>Speed: <%= @speed_in_knots %> knots</p>
<p>Heading: <%= @heading %> degrees</p>
<p>Latitude: <%= @latitude %></p>
<p>Longitude: <%= @longitude %></p>
